#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
    chosen { zmk,matrix_transform = &default_transform; };
  };

/ {
     /*    COMPOSED KEYMAPS
      *    ,-----------------------------------------------.        ,-----------------------------------------------.
      *    |   1   |   2   |   3   |   4   |   5   |   6   |        |   &   |   *   |   (   |   )   |   _   |   +   |
      *    |   `   |   Q   |   W   |   E   |   R   |   T   |        |   Y   |   U   |   I   |   O   |   P   |  (x)  |
      *    |   !   |   @   |   #   |   $   |   %   |   ^   |        |   7   |   8   |   9   |   0   |   -   |   =   |
      *    |-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------|
      *    |   `   |       |       |       |       |       |        |   {   |   [   |   ]   |   }   |       |   |   |
      *    |SFT-Esc|   A   |   S   |   D   |   F   |   G   |        |   H   |   J   |   K   |   L   |   ;   | SFT-" |
      *    |   ~   |  Lft  |  Dwn  |  Up   | Right |       |        |  Lft  |  Dwn  |  Up   | Right |       | \ (ё) |
      *    |-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------|
      *    |       |       |       |       |       |       |        |       |       |       |       |       |       |
      *    |  FN   |   Z   |   X   |   C   |   V   |   B   |        |   N   |   M   |   ,   |   .   |   /   | |>\|| |
      *    |       |       |       |       |       |       |        |       |  (ъ)  |       |       |       |       |
      *    `-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------'
      *                            |       |       | A-Spc |        |       |       |       |
      *                            |CTL-Tab|CMD-Esc| L-Spc |        | R-Ent |ALT-Bsp|CTL-Del|
      *                            |       |       |       |        | A-Ent |       |       |
      *                            `-----------------------'        `-----------------------'
      */
    keymap {
      compatible = "zmk,keymap";

     /*    DEFAULT LAYER
      *    ,-----------------------------------------------.        ,-----------------------------------------------.
      *    |   `   |   Q   |   W   |   E   |   R   |   T   |        |   Y   |   U   |   I   |   O   |   P   |  (x)  |
      *    |-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------|
      *    |SFT-Esc|   A   |   S   |   D   |   F   |   G   |        |   H   |   J   |   K   |   L   |   ;   | SFT-" |
      *    |-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------|
      *    |  FN   |   Z   |   X   |   C   |   V   |   B   |        |   N   |   M   |   ,   |   .   |   /   | |>\|| |
      *    `-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------'
      *                            |CTL-Tab|CMD-Esc| L-Spc |        | R-Ent |ALT-Bsp|CTL-Del|
      *                            `-----------------------'        `-----------------------'
      */
      default_layer {
        bindings = <
          &kp GRAVE   &kp Q   &kp W   &kp E   &kp R   &kp T          &kp Y   &kp U   &kp I     &kp O   &kp P      &kp LBRC
      &mt LSHFT ESC   &kp A   &kp S   &kp D   &kp F   &kp G          &kp H   &kp J   &kp K     &kp L   &kp SEMI   &mt RSHFT SQT
          &kp GLOBE   &kp Z   &kp X   &kp C   &kp V   &kp B          &kp N   &kp M   &kp COMMA &kp DOT &kp FSLH   &kp C_PP
              &mt LCTRL TAB   &mt LCMD ESC    &lt LWR SPACE          &lt RSE RET     &mt LALT BSPC     &mt RCTRL DEL
        >;
      };

     /*    LOWER LAYER
      *    ,-----------------------------------------------.        ,-----------------------------------------------.
      *    |   !   |   @   |   #   |   $   |   %   |   ^   |        |   7   |   8   |   9   |   0   |   -   |   =   |
      *    |-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------|
      *    |   ~   |  Lft  |  Dwn  |  Up   | Right |       |        |  Lft  |  Dwn  |  Up   | Right |       | \ (ё) |
      *    |-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------|
      *    |       |       |       |       |       |       |        |       |  (ъ)  |       |       |       |       |
      *    `-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------'
      *                            |       |       |       |        | A-Ent |       |       |
      *                            `-----------------------'        `-----------------------'
      */
      lower_layer {
        bindings = <
          &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT &kp CARET    &kp N7   &kp N8   &kp N9 &kp N0    &kp MINUS &kp EQUAL
         &kp TILDE &kp LEFT &kp DOWN &kp UP   &kp RIGHT &none        &kp LEFT &kp DOWN &kp UP &kp RIGHT &none     &kp BSLH
          &none    &none    &none    &none    &none     &none        &none    &kp LBRC &none  &none     &none     &none
                                     &none    &none     &trans       &lt ADJ RET       &none  &none
        >;
      };

     /*    RAISE LAYER
      *    ,-----------------------------------------------.        ,-----------------------------------------------.
      *    |   1   |   2   |   3   |   4   |   5   |   6   |        |   &   |   *   |   (   |   )   |   _   |   +   |
      *    |-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------|
      *    |   `   |       |       |       |       |       |        |   {   |   [   |   ]   |   }   |       |   |   |
      *    |-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------|
      *    |       |       |       |       |       |       |        |       |       |       |       |       |       |
      *    `-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------'
      *                            |       |       | A-Spc |        |       |       |       |
      *                            `-----------------------'        `-----------------------'
      */
      raise_layer {
        bindings = <
          &kp N1   &kp N2   &kp N3   &kp N4  &kp N5  &kp N6         &kp AMPS &kp STAR &kp LPAR &kp RPAR &kp UNDER &kp PLUS
       &kp GRAVE   &none    &none    &none   &none   &none          &kp LBRC &kp LBKT &kp RBKT &kp RBRC &none     &kp PIPE
          &none    &none    &none    &none   &none   &none          &none    &none    &none    &none    &none     &none
                            &none    &none   &lt ADJ SPACE          &trans   &none    &none
        >;
      };

     /*    ADJUST LAYER (LOWER + RAISE)
      *    ,-----------------------------------------------.        ,-----------------------------------------------.
      *    |  F-1  |  F-2  |  F-3  |  F-4  |  F-5  |  F-6  |        |  F-7  |  F-8  |  F-9  |  F10  |  F11  |  F12  |
      *    |-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------|
      *    | CLEAR |  BT0  |  BT1  |  BT2  |  BT3  |  BT4  |        |  BT4  |  BT3  |  BT2  |  BT1  |  BT0  | CLEAR |
      *    |-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------|
      *    | RESET | BOOTL |       |       |       |       |        |       |       |       |       | BOOTL | RESET |
      *    `-------+-------+-------+-------+-------+-------|        |-------+-------+-------+-------+-------+-------'
      *                            |       |       |       |        |       |       |       |
      *                            `-----------------------'        `-----------------------'
      */
      adjust_layer {
        bindings = <
&kp F1     &kp F2       &kp F3       &kp F4       &kp F5       &kp F6       &kp F7       &kp F8       &kp F9       &kp F10      &kp F11      &kp F12
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 4 &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0 &bt BT_CLR
&sys_reset &bootloader  &none        &none        &none        &none        &none        &none        &none        &none        &bootloader  &sys_reset
                                     &none        &none        &trans       &trans       &none        &none
        >;
    };
  };
};

